.fa-heart{
	color: darkred;
}

.container.gallery-container {
 background-color: white;
 color: #283149;
 min-height: 130vh;
 border-radius: 10px;
 box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
 margin-bottom: 30px;
}

.gallery-container h1 {
 text-align: center;
 margin-top: 50px;
 font-family: 'Droid Sans', sans-serif;
 color:orange;
}



.gallery-container p.page-description {
 text-align: center;
 max-width: 800px;
 margin: 25px auto;
 color: lightblue;
 font-size: 18px;
}

.tz-gallery {
 padding: 40px;
}

.tz-gallery .lightbox img {
 width: 100%;
 margin-bottom: 30px;
 transition: 0.2s ease-in-out;
 box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.tz-gallery .lightbox img:hover {
 transform: scale(1.15);
 box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
 border-radius: 4px;
}

.baguetteBox-button {
 background-color: transparent !important;
}